<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<div id="pingspace-logo">
    <img src="../assets/pingspace.jpg" style="height:25px;width:25px;">
</div>

<div id="main-page">
   <div id="pickjob-login-panel">
<div id="pickjob-icon">
    <img src="../assets/cargoIcon.png" style="height:60px;width:70px;margin-left:110px;margin-top:30px;">
</div>
<div id="pickjob-title">
    Pick Job
</div>
<button type="button" class="btn btn-primary rounded-pill" id="btnstartpickjob">Start</button>
   </div>
</div>